.contact-me__content {
    margin: 3rem 0;
}

.contact {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    max-width: var(--container-max-width);
}

.contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 6;
    padding: 2rem;
    background-color: var(--color-bg-secondary);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 60%;
}

.contact form h3 {
    color: var(--color-text);
    margin-bottom: 1rem;
    text-align: center;
}

.contact div input,
.contact div textarea {
    width: 100%;
}

.contact__content {
    flex: 4;
    position: relative;
    height: 100%;
}

.contact__input {
    position: relative;
    margin-bottom: 1rem;
}

.contact__input label {
    position: absolute;
    font-weight: bold;
    font-size: 0.875rem;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.contact form input,
.contact form textarea {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.contact form textarea {
    max-height: 100px;
}

.contact__message {
    position: relative;
}

.contact__message label {
    position: absolute;
    top: 20%;
    left: 0.5rem;
    transform: translateY(-50%);
    font-size: 0.875rem;
    font-weight: bold;
    opacity: 0.5;
    transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.contact__input input:focus + label,
.contact__input input:not(:placeholder-shown) + label,
.contact__message textarea:focus + label,
.contact__message textarea:not(:placeholder-shown) + label {
  top: 0;
  font-size: 0.65rem;
}

.contact__button {
    display: flex;
    justify-content: start;
    margin-top: 1rem;
}

.contact form button {
    width: 50%;
    margin: 0 auto;
}

.contact__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 0.5rem
}

.contact__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    padding: 1.5rem;
    background-color: var(--color-secondary);
    border-radius: 1rem;
}

.icon-contact {
  flex: 3;
  width: 100%;
  height: 100%;

  /* PNG blanco sobre fondo transparente */
  -webkit-mask: url("./src/assets/traspie.png") no-repeat center / contain;
  mask: url("./src/assets/traspie.png") no-repeat center / contain;

  background-color: var(--color-bg); /* Aquí cambias el color dinámicamente */
}

.contact__card h3 {
    color: var(--color-bg);
    margin: 1rem 0;
    font-family: monospace
}

.contact__info {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact__info p {
    color: var(--color-bg);
    font-weight: 500;
    opacity: 0.7;
}

.contact__info a {
    color: var(--color-bg);
    font-weight: 500;
    opacity: 0.7;
}

.social-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.social-data svg {
    stroke: var(--color-bg);
}

.social-data p {
    opacity: 1;
    font-weight: 600;
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.icon-social {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    background-color: var(--color-bg-secondary);
    border-radius: 50%;
}

.icon-social svg {
    stroke: var(--color-secondary);
}

.icon-social a {
    padding: 0.5rem;
}

@media screen and (max-width: 1024px) {
    .contact__content .contact__card {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .contact {
        flex-direction: column-reverse;
        height: auto;
    }

    .contact__content {
        flex: 1;
        background-color: var(--color-bg-secondary);
    }

    .contact__content .contact__card .icon-contact {
        flex: auto;
        height: 100px;
    }

    .contact form {
        flex: 1;
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
    }

    .contact form button{
        width: 100%;
        margin: 0;
    }
}
