/* .proyects {
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-large);
} */

.proyects__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(120px, auto); /* altura adaptable */
    gap: 1rem;
    grid-auto-flow: dense; /* se adapta al tamaño si sobra */
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background-color: var(--bg-main);
    border: 1px solid var(--bg-border);
    overflow: hidden;
    height: 100%;
}

.xl {
    grid-column: span 6;
    grid-row: span 3;

}

.l {
    grid-column: span 2;
    grid-row: span 2;
    flex-direction: column-reverse;
}

.s {
    grid-column: span 4;
    grid-row: span 1;
    flex-direction: row;
}

.card__link {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    padding: 0.5rem;
    background-color: #4c4c4c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.card__link svg #link-external {
    width: 100%;
    height: 100%;
    fill: var(--color-primary);
}

.card__header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.7rem;
    overflow: hidden;
}

.card__header > img {
    width: 100%;
    height: 100%;
    max-height: 180px; /* opcional para controlar */
    object-fit: cover;
    transition: scale 0.5s ease-in-out;
}

.card__header > img:hover {
    scale: 1.1;
}

.card__tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.7rem 0;
    width: 100%;
}

.card__tag {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.date {
  font-family: monospace;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  opacity: 0.6;
}

.card__info {
    width: 100%;
    padding: 0.7rem 1rem;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.card__content h3 {
    color: var(--color-secondary);
}

.card__content p {
    color: var(--color-text);
    overflow: hidden;
    /* text-overflow: ellipsis; */
    display: block;
    /* -webkit-line-clamp: 4; */
    /* -webkit-box-orient: vertical; */
}

.card__footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0.7rem 0;
}

.card__footer button:last-child {
    background-color: var(--color-tertiary);
    color: var(--color-bg);
    font-weight: 700;
}

.card__linksProyect {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
}

.card__linksProyect button {
    width: 49%;
    max-width: 350px;
    min-width: 100px;
}

.card__social {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.card__social span {
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.3rem;
}

/*Reglas card tamaño l*/

.card.l .card__header {
    flex: 4;
    display: flex;
}

.card.l .card__header > img {
    max-height: 100%;
}

.card.l .card__info {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card.l .card__info .card__footer button {
    width: 48%;
}

/*Reglas card tamaño s*/

.card.s .card__tags {
    flex-direction: column-reverse;
    align-items: flex-start;
}

.card.s .card__header {
    flex: 3;
    height: 100%;
}

.card.s .card__info {
    flex: 7;
}

.card.s .card__info .card__tags {
    flex-direction: row;
    align-items: flex-start;
}

.card.s .card__header > img {
    max-height: 100%;
}

.card.s .card__info .card__footer button {
    width: 48%;
}

@media screen and (max-width: 1024px) { /* Si la pantalla es menor a 768px */
  .proyects__content {
      grid-template-columns: 1fr;
      grid-template-rows: none;
  }

  .xl, .l, .s {
    flex-direction: column;
    grid-column: auto;
    grid-row: auto;
  }

  .card.s .card__info {
    flex: 1;
  }

  .card.l .card__info {
    flex: 1;
  }

  .card.xl .card__info {
    flex: 1;
  }

  .xl .card__info .card__footer .card__social {
    display: none;
  }

  .xl .card__info .card__footer .card__linksProyect {
    width: 100%;
  }
}

