html[data-theme="ASOIAF"], div[data-theme="ASOIAF"] {
  --color-bg: #fdfdfd;
  --color-bg-secondary: #f1f1f1;
  --color-text: #101010;
  --color-primary: #11b0dd;
  --color-secondary: #181409;
  --color-tertiary: #247fb7;
  --color-accent: #4c83cf;

  --montana-first-color: #cfcfcf;
  --montana-second-color: #949494;
  --montana-third-color: #72858c;

  --color-shadow: #cccccc;
  --color-bg-hero: #7979791e;

  --color-border: #c0c0c0;
}