html[data-theme="mistborn"], div[data-theme="mistborn"] {
  --color-bg: #171716;
  --color-bg-secondary: #2f2e2c;
  --color-text: #d9d9d9;
  --color-primary: #d4c446;
  --color-secondary: #a38739;
  --color-tertiary: #ddc32e;
  --color-accent: #b78a30;

  --montana-first-color: #212020;
  --montana-second-color: #65645f;
  --montana-third-color: #66541f;

  --color-shadow: #e3e3e353;
  --color-bg-hero: #e6e6e618;

  --color-border: #d2d2d235;
}