html[data-theme="ship-of-magic"], div[data-theme="ship-of-magic"] {
  --color-bg: #88d2cc;
  --color-bg-secondary: #b4dce3;
  --color-text: #101010;
  --color-primary: #139654;
  --color-secondary: #094768;
  --color-tertiary: #18666c;
  --color-accent: #576ad6;

  --montana-first-color: #69b5af;
  --montana-second-color: #6baf95;
  --montana-third-color: #6987a0;

  --color-shadow: #75aea9;
  --color-bg-hero: #273d3c18;

  --color-border: #67a68ca8;
}