#stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contenedor-escena {
  position: absolute;
  width: 107%;
  inset: 0;                /* top:0; right:0; bottom:0; left:0; */
  z-index: 0;              /* debajo del contenido */    /* no interpone clicks/hover */
  user-select: none;
  overflow: hidden;
  overflow-wrap: unset;

}

.montana {
  position: absolute;
  left: -5%;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 45%;
  display: block;
  transition: transform 0.7s cubic-bezier(.2,.8,.2,1), filter 350ms;
  /* pointer-events: none; */
}

.montana-main path{
    z-index: 3;
    fill: rgb(23, 32, 35);
}

.montana-second path{
    z-index: 1;
    fill: #203036;
}

.montana-third path{
    z-index: 0;
    fill: #303c42;
}

.contenedor-escena__img {
  position: absolute;
  right: 15%;
  bottom: 27%;
  max-width: 60%;
  height: 90%;
  display: block;
  perspective: 400px;
  pointer-events: none;
    transition: transform 0.5s cubic-bezier(.2,.8,.2,1), filter 350ms;
}

.personaje {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: bottom;
    transform-origin: center center;
    transition: transform 350ms cubic-bezier(.2,.8,.2,1), filter 350ms;
    will-change: transform;         /* sugiere al navegador optimizar */
    backface-visibility: hidden;
    transform-style: preserve-3d;
    mask-image: linear-gradient(to bottom, rgb(130, 130, 130) 80%, transparent 100%);
}
