.proyects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-large);
}

.proyects__content {
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    gap: 1rem;
    grid-auto-flow: dense; /* se adapta al tamanÌƒo si sobra */
}

.card {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.xl {
    grid-column: span 2;
    grid-row: span 3;
    border: 2px solid var(--color-accent);
}

.l {
    grid-column: span 2;
    grid-row: span 2;
    background-color: rosybrown;
}

.s {
    grid-column: span 1;
    grid-row: span 2;
    background-color: brown;
}

.card__header {
    width: 100%;
    max-height: 220px;
    overflow: hidden;
}

.card__header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding: 1rem;
}