.proyects {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-large);
}

.proyects__title h2 {
    font-size: 3rem;
}

.proyects__content {
    display: grid;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    grid-auto-rows: minmax(120px, auto); /* altura adaptable */
    gap: 1rem;
    grid-auto-flow: dense; /* se adapta al tamaño si sobra */
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background-color: #333333;
    border: 1px solid #4c4c4c;
    overflow: hidden;
    height: 100%;
}

.xl {
    grid-column: span 4;
    grid-row: span 3;

}

.l {
    grid-column: span 2;
    grid-row: span 2;
    flex-direction: column-reverse;
}

.s {
    grid-column: span 1;
    grid-row: span 2;
}

.card__link {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    padding: 0.5rem;
    background-color: #4c4c4c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.card__link svg #link-external {
    width: 100%;
    height: 100%;
    fill: var(--color-primary);
}

.card__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.7rem;
}

.card__header > img {
    width: 100%;
    height: 100%;
    max-height: 180px; /* opcional para controlar */
    object-fit: cover;
    transition: scale 0.5s ease-in-out;
    overflow: hidden;
}

.card__header > img:hover {
    scale: 1.1;
}

.card__tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.7rem 1rem;
}

.card__tag {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.date {
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: 700;
    opacity: 0.7;
}

.card__info {
    width: 100%;
    padding: 0.7rem 1rem;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.card__content h3 {
    color: var(--color-primary);
    font-size: 2rem;
}

.card__content p {
    color: var(--color-text);
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.card__footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.7rem 0;
}

.card__footer button:last-child {
    background-color: var(--color-tertiary);
    color: var(--color-bg);
    font-weight: 700;
}

.card__linksProyect {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
}

.card__linksProyect button {
    width: 45%;
    max-width: 350px;
    min-width: 100px;
}

.card__social {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.card__social span {
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0.3rem;
}

/*Reglas card tamaño l*/

.card.l .card__header {
    flex-direction: column-reverse;
}

.card.l .card__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card.l .card__info .card__footer button {
    width: 45%;
}

/*Reglas card tamaño s*/

.card.s .card__tags {
    flex-direction: column-reverse;
    align-items: flex-start;
}

