.portafolio {
  position: relative;
  height: 100vh;
  mask-image: linear-gradient(to bottom, rgb(59, 52, 52) 80%, transparent 100%);
}

.theme {
  position: fixed;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  bottom: 2rem;
  left: 2rem;
  z-index: 100;
  background-color: var(--color-bg-secondary);
  padding: 1rem 0.8rem;
  border-radius: 2rem;
  box-shadow: 0 0 3px 3px rgba(81, 81, 81, 0.3);
}

.theme button {
    color: var(--color-text);
}

.theme__palette {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-left: 1rem;
  align-items: center;
  background-color: var(--color-bg);
  padding: 0 0.5rem;
  border-radius: 1em;
}

.theme__palette .theme__color:nth-child(1)  {
  background-color: var(--color-primary);
}

.theme__palette .theme__color:nth-child(2)  {
  background-color: var(--color-secondary);
}

.theme__palette .theme__color:nth-child(3)  {
  background-color: var(--color-tertiary);
}

.theme .theme__color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}