.experience__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-large);
}

.timeline {
    position: relative;
    padding-left: 4rem;


    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 4px;
        background-color: var(--color-primary);
    }

    .timeline__item {
        position: relative;
        margin-bottom: 2rem;
        padding: 2.5rem 1.5rem;
        background-color: var(--color-bg-secondary);
        /* overflow-y: clip; */
        z-index: 10;
        

        &:before {
            content: "";
            position: absolute;
            top: 5px;
            left: -25px;
            width: 50px;
            height: 50px;
            background: var(--color-bg-secondary);
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            z-index: -1;
        }

        .timeline__date {
            position: absolute;
            bottom: 0.5rem;
            right: 1rem;
            width: 80px;
            height: 30px;
            border-radius: 0.5rem;
        }

        .timeline__header h3 {
            font-size: var(--font-size-h3);
            color: var(--color-accent);
            margin-bottom: 0.5rem;
        }

        .timeline__header p {
            font-size: var(--font-size-base);
            color: var(--color-text-secondary);
        }

        .timeline__icon {
            position: absolute;
            top: 0;
            left: -5.8rem;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: var(--color-bg-secondary);
        }

        .timeline__icon svg {
            padding: 0.8rem;
            width: 100%;
            height: 100%;
            object-fit: contain;
            stroke: var(--color-secondary);
            opacity: 0.6;
        }
    }
}