:root {
  --color-bg: #242222;
  --color-text: #FFFFFF;
  --color-primary: #97b45a;
  --color-secondary: #67bf8a;
  --color-accent: #ac9a39;
  --font-size: 1.25rem;

  /* Tamaños base de texto */
  --font-size-base: 16px;
  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;

  /* Espaciados */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;

  /* Contenedor principal */
  --container-max-width: 1200px; /* desktop */
  --container-max-width-mobile: 768px; /* desktop */
  --container-padding: 1rem;     /* espacio lateral */
}

.accent {
  color: var(--color-primary);
}

.button {
  cursor: pointer;
  position: relative;
  background-color: transparent;
  color:var(--color-accent);
  border: 2px solid var(--color-accent);
  padding: 10px 24px;
  border-radius: 0.75rem;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::after {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%; /* valor heredado */
  scale: 0;
  z-index: -1;
  background-color: var(--color-accent);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::after {
  scale: 4;
}

.button:hover {
  color: var(--color-bg);
  scale: 1.1;
  font-weight: 700;
  box-shadow: 0 0 20px rgb(193, 163, 98, 0.4);
}

.button:active {
  scale: 1;
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

/* Navegación */
.nav {
  position: fixed;
  background-color: #232323;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); */
  box-shadow: #e0e0e03e 0px 0px 10px 0px;
  transition: opacity 0.5s ease-in-out;
}

.nav--blur {
  backdrop-filter: blur(12px); /* deja borroso lo que esta atras del nav */
  -webkit-backdrop-filter: blur(12px);
  opacity: 0.8;
}

.nav__container {
  display: flex;
  max-width: var(--container-max-width);
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  min-height: 5rem;
}

.nav__title {
  color: var(--color-primary);
}


.nav__list {
  display: flex;
  list-style: none;
  gap: 0.75rem;
}

/* Hero Section*/

.hero {
  display: flex;
  position: relative;
  min-height: 100vh;
  justify-items: center;
  background: var(--primary);
}

.hero::before {
  content: "";
  position: absolute;
  top: -50%;      /* puedes usar top o bottom según quieras */
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(120, 120, 120, 0.25),
    transparent 70%
  );

  filter: blur(12px);
  pointer-events: none; /* importante para que no bloquee clics */
  z-index: -1;          /* detrás del nav */
}

.hero__container {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-15%, -40%);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
  height: 100%;
  margin: auto;
  gap: 2rem;
}

.hero--arrow {
  position: absolute;
  top: calc(100% - 7rem);
  left: 50%;
  transform: translate(-50%, -100%);
  animation: bounce 2s ease-in-out infinite;
  z-index: 1000;
}

.hero__header {
  margin-bottom: var(--spacing-large);
}

.hero__title {
  font-size: 4rem;
  font-weight: 700;
}

.hero__subtitle {
  font-size: 2rem;
}

.hero__links {
  display: flex;
  gap: 1.5rem;
}

.hero__image {
  width: 30%;
}

.hero__image img {
  margin: auto;
  object-fit: contain;
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  
  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(-5px);
  }
}